<!-- Secci칩n de producto individual -->
<section class="container mx-auto flex items-center justify-center min-h-[600px] py-20">

    <!-- Dise침o de dos columnas: imagen a la izquierda y detalles del producto a la derecha -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
        <!-- Imagen del producto -->
        <div class="flex justify-center">
            <img class="max-w-xs md:max-w-md object-cover rounded-lg" src="{{image}}" alt="{{title}}">
        </div>

        <!-- Informaci칩n del producto -->
        <div>
            <!-- Ruta de navegaci칩n (breadcrumb) -->
            <div class="mb-5">
                <a href="/" class="text-blue-600 hover:underline">Tienda</a> / <span>Empanadas de {{category}}</span>
            </div>
            <p class="text-6xl font-bold mb-5">{{title}}</p>
            <p class="text-3xl font-semibold text-blue-500 mb-10">${{price}}</p>

            <p class="text-lg text-black mb-8">{{description}}</p>

            <!-- Formulario para agregar al carrito -->
            
            <form action="/api/order/add-product-to-order/{{_id}}" method="post">
                <input type="hidden" name="pid" value="{{_id}}">
                <button type="submit" class="py-3 px-5 text-base font-medium text-white bg-blue-600 hover:bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-300 transition">
                    Agregar al carrito
                    <svg class="w-5 h-5 inline-block ms-2 rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h18l-2 12H5L3 3zm6 9v6m0 0H7v-6h2zm0 0h2v6H9zm5-6v12m0 0h-2V6h2z"/>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</section>
