{{!-- Site title --}}
<section class="h-52 flex items-center justify-between">
    <p class="text-5xl font-bold mb-5">
        {{#if userData}}
            Hola {{userData.name}}
        {{else}}
            Nuestros productos
        {{/if}}
    </p>
</section>

<div class="flex p-5 space-x-5">
    <div class="flex flex-col">
        <label for="category">Filtrar por categoría: </label>
        <select id="category" onchange="applyFilters()">
            <option value="">Todas</option>
            <option value="Carne">Carne</option>
            <option value="Pollo">Pollo</option>
            <option value="Especial">Especial</option>
        </select>
    </div>
    <div class="flex flex-col">
        <label for="sort">Ordenar por precio: </label>
        <select id="sort" onchange="applyFilters()">
            <option value="">Sin orden</option>
            <option value="asc">Ascendente</option>
            <option value="desc">Descendente</option>
        </select>
    </div>
</div>

<div class="gap-5 border-2 border-black rounded-lg p-5">
    <ul class="grid grid-cols-4 gap-10">
        {{#each products}}
            <li class="col-span-1 w-full hover:bg-black hover:text-white rounded-md p-2 transition-all">
                <div class="space-y-2">
                    <div>
                        <span class="font-bold text-xs">Titulo del producto:</span>
                        <p class="text-xl font-bold">{{this.title}}</p>
                    </div>
                    <p class="text-xs"><span class="font-bold text-xs">ID:</span> {{this.id}}</p>
                    <p class="text-xs"><span class="font-bold text-xs">Description:</span> {{this.description}}</p>
                </div>
                <a href="/api/products/{{this.id}}">
                    <button type="button" class="mt-5">Ver producto</button>
                </a>
            </li>
        {{/each}}
    </ul>
</div>

<div class="flex gap-2 items-center justify-center mt-10">

    {{#if hasPrevPage}}
        <a href="/?page={{prevPage}}" class="p-2 border">Volver</a>
        <a href="/?page={{prevPage}}" class="p-2 border">{{prevPage}}</a>
    {{else}}
    {{/if}}
    
    <a class="p-3 border {{#if page}} bg-black text-white {{/if}}">{{page}}</a>

    {{#if hasNextPage}}
        <a href="/?page={{nextPage}}" class="p-2 border">{{nextPage}}</a>
        <a href="/?page={{nextPage}}" class="p-2 border">Siguiente</a>
    {{else}}
    {{/if}}
    
</div>
