{{!-- Site title --}}
<section class="h-52 flex items-center">
    <p class="mb-5"><a href="/">Tienda</a> > {{title}}</p>
</section>

<div>
    <p class="text-5xl font-bold mb-5">{{title}}</p>
    <p class="text-xl font-bold mb-5">${{price}}</p>
    <p class="text-xl font-bold mb-5">{{id}}</p>
</div>

<form action="/api/carts" method="POST">
    <input type="text" name="pid" value="{{id}}" hidden>
    <button type="submit">Agregar al carrito</button>
</form>
