<h1>Tu Carrito</h1>

<ul>
  {{#each cart}}
    <li>
      <h2>{{this.product.title}}</h2>
      <p>{{this.product.description}}</p>
      <p>Precio: {{this.product.price}}</p>
      <p>Categoría: {{this.product.category}}</p>
      <p>Cantidad: {{this.product.quantity}}</p>
    </li>
  {{/each}}
</ul>